@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: $color-text;
  background-color: $color-white;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  color: $color-dark;
  line-height: 1.2;
}

p {
  margin-bottom: 0;
}